<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact Us - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">KMB ONLINE</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/index.html">pemesanan</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/features.html">Status</a></li>
                    <li class="nav-item" role="presentation"><button class="btn btn-info btn-sm text-right d-xl-flex justify-content-xl-end" type="button">Log Out</button></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Form Pemesanan</h2>
                </div>
                <form style="max-width: 600px;">
                    <div class="bg-light border rounded shadow-lg" style="padding-right: 15px;padding-left: 15px;">
                        <div class="form-group"><label>Jenis Keperluan</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                        <div
                            class="form-group"><label>Jenis Pemesanan</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
            <div class="bg-light border rounded shadow-lg" style="padding-right: 15px;padding-left: 15px;">
                <div class="form-group" style="margin-bottom: 0px;margin-top: 30px;"><label class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 0px;">Keberangkatan</label></div>
                <div class="form-group"><label>Witel</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                <div
                    class="form-group"><label>Area Pool</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
            </div>
            <div class="bg-light border rounded shadow-lg" style="padding-right: 15px;padding-left: 15px;">
                <div class="form-group" style="margin-bottom: 0px;margin-top: 30px;"><label class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 0px;">Tujuan</label></div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col col-lg-6"><label>Kota</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                        <div
                            class="col col-lg-6"><label class="d-xl-flex justify-content-xl-end align-items-xl-end">Kecamatan</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col col-lg-6"><label>Nama Jalan</label><select class="form-control"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                    <div
                        class="col col-lg-6"><label class="d-xl-flex justify-content-xl-end align-items-xl-end">No. Jalan</label><input class="form-control" type="text"></div>
            </div>
            </div>
            <div class="form-group"><label>Rincian Tujuan</label><textarea class="form-control"></textarea></div>
            </div>
            <div class="bg-light border rounded shadow-lg" style="padding-right: 15px;padding-left: 15px;">
                <div class="form-group" style="margin-bottom: 0px;margin-top: 30px;"><label class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 0px;">Waktu Keberangkatan</label></div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col col-lg-6"><label>Tanggal Berangkat</label><input class="form-control" type="date"></div>
                        <div class="col col-lg-6"><label class="d-xl-flex justify-content-xl-end align-items-xl-end">Jam Berangkat</label><input class="form-control" type="time"></div>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0px;margin-top: 30px;"><label class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 0px;">Waktu Kepulangan</label></div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col col-lg-6"><label>Tanggal Pulang</label><input class="form-control" type="date"></div>
                        <div class="col col-lg-6"><label class="d-xl-flex justify-content-xl-end align-items-xl-end">Jam Pulang</label><input class="form-control" type="time"></div>
                    </div>
                </div>
            </div>
            <div class="bg-light border rounded shadow-lg" style="padding-right: 15px;padding-left: 15px;">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col col-lg-6"><label>No. Tlp. Kantor</label><input class="form-control" type="text"></div>
                        <div class="col col-lg-6"><label>No. Tlp. Kantor</label><input class="form-control" type="text"></div>
                        <div class="col col-lg-6"><label class="d-xl-flex justify-content-xl-start align-items-xl-end">Atasan</label><input class="form-control" readonly=""></div>
                        <div class="col col-lg-6"><label class="d-xl-flex justify-content-xl-start align-items-xl-end">&nbsp;&nbsp;</label><input class="form-control" readonly=""></div>
                    </div>
                </div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Send</button></div>
            </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2018 Copyright Text</p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/smoothproducts.min.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>